body{
    display: flex;
    background: linear-gradient(320deg, rgb(15, 0, 226),rgba(33, 255, 244, 0.733));
    height:120vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px;
}

.description{
    background-color: rgba(80, 80, 80, 0.555);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    border-radius: 30px;
    margin: 10px;
}
button{
    margin-bottom: 20px;
    background-color: rgba(201, 201, 201, 0.493);
    border: 0px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    transition-duration: 300ms;
    padding: 15px;
}
button:hover{
    background-color: rgba(241, 241, 241, 0.493);
    transform: scale(1.05);
}

button:active{
    transition-duration: 150ms;
    transform: scale(0.95);
}
p{
    background-color: rgba(197, 224, 175, 0.781);
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    margin: 25px;
}
h2{
    font-size: 30px;
}
